USE [master]
GO
/****** Object:  Database [ProgSystem]    Script Date: 13/12/2018 10:59:22 ******/
CREATE DATABASE [ProgSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProgSystem', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ProgSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProgSystem_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ProgSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProgSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProgSystem]
GO
/****** Object:  Table [dbo].[commande]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[commande](
	[NumeroCommande] [int] IDENTITY(1,1) NOT NULL,
	[StatutCommande] [bit] NOT NULL,
	[IDTable] [int] NOT NULL,
 CONSTRAINT [Commande_PK] PRIMARY KEY CLUSTERED 
(
	[NumeroCommande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groupclient]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groupclient](
	[IDGroupe] [int] IDENTITY(1,1) NOT NULL,
	[NombreClient] [int] NOT NULL,
	[IDTable] [int] NULL,
 CONSTRAINT [PK__groupcli__6561693D1C08198A] PRIMARY KEY CLUSTERED 
(
	[IDGroupe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[IDIngredient] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](15) NOT NULL,
	[NomIngredient] [varchar](50) NOT NULL,
 CONSTRAINT [Ingredient_PK] PRIMARY KEY CLUSTERED 
(
	[IDIngredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lignecommande]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lignecommande](
	[IDPreparation] [int] NOT NULL,
	[NumeroCommande] [int] NOT NULL,
	[QuantiteRecette] [int] NOT NULL,
	[CategorieRecette] [int] NOT NULL,
 CONSTRAINT [LigneCommande_PK] PRIMARY KEY CLUSTERED 
(
	[IDPreparation] ASC,
	[NumeroCommande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiel]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiel](
	[IDMateriel] [int] IDENTITY(1,1) NOT NULL,
	[NomMateriel] [varchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[EtatMateriel] [bit] NOT NULL,
 CONSTRAINT [Materiel_PK] PRIMARY KEY CLUSTERED 
(
	[IDMateriel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[necessite]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[necessite](
	[IDPreparation] [int] NOT NULL,
	[IDTache] [int] NOT NULL,
	[IDIngredients] [varchar](50) NOT NULL,
	[OrdreTache] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preparation]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preparation](
	[IDPreparation] [int] IDENTITY(1,1) NOT NULL,
	[NomPreparation] [varchar](50) NOT NULL,
 CONSTRAINT [Preparation_PK] PRIMARY KEY CLUSTERED 
(
	[IDPreparation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockCuisine]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockCuisine](
	[IDStock] [int] IDENTITY(1,1) NOT NULL,
	[QuantiteStock] [int] NOT NULL,
	[DateReception] [datetime2](0) NULL,
	[DateCreation] [datetime2](0) NULL,
	[IDIngredient] [int] NULL,
	[IDPreparation] [int] NULL,
 CONSTRAINT [StockCuisine_PK] PRIMARY KEY CLUSTERED 
(
	[IDStock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMateriel]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMateriel](
	[IDStockMateriel] [int] IDENTITY(1,1) NOT NULL,
	[QuantiteMaterielStock] [int] NOT NULL,
	[IDMateriel] [int] NOT NULL,
 CONSTRAINT [StockMateriel_PK] PRIMARY KEY CLUSTERED 
(
	[IDStockMateriel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tablerestaurant]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablerestaurant](
	[IDTable] [int] IDENTITY(1,1) NOT NULL,
	[IDCarre] [int] NOT NULL,
	[IDRang] [int] NOT NULL,
	[NbrPlacesTable] [int] NOT NULL,
	[EtatTable] [int] NOT NULL,
 CONSTRAINT [TableRestaurant_PK] PRIMARY KEY CLUSTERED 
(
	[IDTable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tache]    Script Date: 13/12/2018 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tache](
	[IDTache] [int] IDENTITY(1,1) NOT NULL,
	[NomTache] [varchar](50) NOT NULL,
	[DureeTache] [int] NOT NULL,
 CONSTRAINT [Tache_PK] PRIMARY KEY CLUSTERED 
(
	[IDTache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utilise]    Script Date: 13/12/2018 10:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilise](
	[IDTache] [int] NOT NULL,
	[IDMateriel] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ingredient] ON 

INSERT [dbo].[Ingredient] ([IDIngredient], [Type], [NomIngredient]) VALUES (1, N'C', N'Ravioli')
INSERT [dbo].[Ingredient] ([IDIngredient], [Type], [NomIngredient]) VALUES (2, N'F', N'Carotes')
INSERT [dbo].[Ingredient] ([IDIngredient], [Type], [NomIngredient]) VALUES (4, N'C', N'Haricots vert')
SET IDENTITY_INSERT [dbo].[Ingredient] OFF
SET IDENTITY_INSERT [dbo].[Materiel] ON 

INSERT [dbo].[Materiel] ([IDMateriel], [NomMateriel], [Type], [EtatMateriel]) VALUES (1, N'Feu de cuisson', 1, 0)
INSERT [dbo].[Materiel] ([IDMateriel], [NomMateriel], [Type], [EtatMateriel]) VALUES (2, N'Casseroles', 1, 0)
INSERT [dbo].[Materiel] ([IDMateriel], [NomMateriel], [Type], [EtatMateriel]) VALUES (3, N'Poeles', 1, 0)
SET IDENTITY_INSERT [dbo].[Materiel] OFF
INSERT [dbo].[necessite] ([IDPreparation], [IDTache], [IDIngredients], [OrdreTache]) VALUES (10, 24, N'68', 4)
INSERT [dbo].[necessite] ([IDPreparation], [IDTache], [IDIngredients], [OrdreTache]) VALUES (1, 1, N'23', 1)
INSERT [dbo].[necessite] ([IDPreparation], [IDTache], [IDIngredients], [OrdreTache]) VALUES (11, 24, N'5', 2)
SET IDENTITY_INSERT [dbo].[preparation] ON 

INSERT [dbo].[preparation] ([IDPreparation], [NomPreparation]) VALUES (1, N'Foie gras')
INSERT [dbo].[preparation] ([IDPreparation], [NomPreparation]) VALUES (2, N'Oeuf mayonnaise')
INSERT [dbo].[preparation] ([IDPreparation], [NomPreparation]) VALUES (3, N'Salade saumon')
SET IDENTITY_INSERT [dbo].[preparation] OFF
SET IDENTITY_INSERT [dbo].[StockCuisine] ON 

INSERT [dbo].[StockCuisine] ([IDStock], [QuantiteStock], [DateReception], [DateCreation], [IDIngredient], [IDPreparation]) VALUES (4, 50, NULL, NULL, 1, NULL)
INSERT [dbo].[StockCuisine] ([IDStock], [QuantiteStock], [DateReception], [DateCreation], [IDIngredient], [IDPreparation]) VALUES (5, 50, NULL, NULL, 2, NULL)
INSERT [dbo].[StockCuisine] ([IDStock], [QuantiteStock], [DateReception], [DateCreation], [IDIngredient], [IDPreparation]) VALUES (6, 50, NULL, NULL, 4, NULL)
SET IDENTITY_INSERT [dbo].[StockCuisine] OFF
SET IDENTITY_INSERT [dbo].[StockMateriel] ON 

INSERT [dbo].[StockMateriel] ([IDStockMateriel], [QuantiteMaterielStock], [IDMateriel]) VALUES (1, 5, 1)
INSERT [dbo].[StockMateriel] ([IDStockMateriel], [QuantiteMaterielStock], [IDMateriel]) VALUES (2, 10, 2)
INSERT [dbo].[StockMateriel] ([IDStockMateriel], [QuantiteMaterielStock], [IDMateriel]) VALUES (3, 10, 3)
SET IDENTITY_INSERT [dbo].[StockMateriel] OFF
SET IDENTITY_INSERT [dbo].[Tache] ON 

INSERT [dbo].[Tache] ([IDTache], [NomTache], [DureeTache]) VALUES (1, N'Couper', 2)
INSERT [dbo].[Tache] ([IDTache], [NomTache], [DureeTache]) VALUES (2, N'Raper', 1)
INSERT [dbo].[Tache] ([IDTache], [NomTache], [DureeTache]) VALUES (3, N'Melanger', 1)
SET IDENTITY_INSERT [dbo].[Tache] OFF
INSERT [dbo].[utilise] ([IDTache], [IDMateriel]) VALUES (1, 12)
INSERT [dbo].[utilise] ([IDTache], [IDMateriel]) VALUES (2, 46)
INSERT [dbo].[utilise] ([IDTache], [IDMateriel]) VALUES (3, 5)
/****** Object:  Index [Commande_TableRestaurant0_AK]    Script Date: 13/12/2018 10:59:23 ******/
ALTER TABLE [dbo].[commande] ADD  CONSTRAINT [Commande_TableRestaurant0_AK] UNIQUE NONCLUSTERED 
(
	[IDTable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[commande]  WITH CHECK ADD  CONSTRAINT [Commande_TableRestaurant0_FK] FOREIGN KEY([IDTable])
REFERENCES [dbo].[tablerestaurant] ([IDTable])
GO
ALTER TABLE [dbo].[commande] CHECK CONSTRAINT [Commande_TableRestaurant0_FK]
GO
ALTER TABLE [dbo].[groupclient]  WITH CHECK ADD  CONSTRAINT [GroupeClient_TableRestaurant_FK] FOREIGN KEY([IDTable])
REFERENCES [dbo].[tablerestaurant] ([IDTable])
GO
ALTER TABLE [dbo].[groupclient] CHECK CONSTRAINT [GroupeClient_TableRestaurant_FK]
GO
ALTER TABLE [dbo].[lignecommande]  WITH CHECK ADD  CONSTRAINT [LigneCommande_Commande1_FK] FOREIGN KEY([NumeroCommande])
REFERENCES [dbo].[commande] ([NumeroCommande])
GO
ALTER TABLE [dbo].[lignecommande] CHECK CONSTRAINT [LigneCommande_Commande1_FK]
GO
ALTER TABLE [dbo].[lignecommande]  WITH CHECK ADD  CONSTRAINT [LigneCommande_Preparation0_FK] FOREIGN KEY([IDPreparation])
REFERENCES [dbo].[preparation] ([IDPreparation])
GO
ALTER TABLE [dbo].[lignecommande] CHECK CONSTRAINT [LigneCommande_Preparation0_FK]
GO
ALTER TABLE [dbo].[necessite]  WITH CHECK ADD  CONSTRAINT [Necessite_Preparation0_FK] FOREIGN KEY([IDPreparation])
REFERENCES [dbo].[preparation] ([IDPreparation])
GO
ALTER TABLE [dbo].[necessite] CHECK CONSTRAINT [Necessite_Preparation0_FK]
GO
ALTER TABLE [dbo].[necessite]  WITH CHECK ADD  CONSTRAINT [Necessite_Tache1_FK] FOREIGN KEY([IDTache])
REFERENCES [dbo].[Tache] ([IDTache])
GO
ALTER TABLE [dbo].[necessite] CHECK CONSTRAINT [Necessite_Tache1_FK]
GO
ALTER TABLE [dbo].[StockCuisine]  WITH CHECK ADD  CONSTRAINT [StockCuisine_Ingredient_FK] FOREIGN KEY([IDIngredient])
REFERENCES [dbo].[Ingredient] ([IDIngredient])
GO
ALTER TABLE [dbo].[StockCuisine] CHECK CONSTRAINT [StockCuisine_Ingredient_FK]
GO
ALTER TABLE [dbo].[StockCuisine]  WITH CHECK ADD  CONSTRAINT [StockCuisine_Preparation0_FK] FOREIGN KEY([IDPreparation])
REFERENCES [dbo].[preparation] ([IDPreparation])
GO
ALTER TABLE [dbo].[StockCuisine] CHECK CONSTRAINT [StockCuisine_Preparation0_FK]
GO
ALTER TABLE [dbo].[StockMateriel]  WITH CHECK ADD  CONSTRAINT [StockMateriel_Materiel_FK] FOREIGN KEY([IDMateriel])
REFERENCES [dbo].[Materiel] ([IDMateriel])
GO
ALTER TABLE [dbo].[StockMateriel] CHECK CONSTRAINT [StockMateriel_Materiel_FK]
GO
ALTER TABLE [dbo].[utilise]  WITH CHECK ADD  CONSTRAINT [Utilise_Materiel0_FK] FOREIGN KEY([IDMateriel])
REFERENCES [dbo].[Materiel] ([IDMateriel])
GO
ALTER TABLE [dbo].[utilise] CHECK CONSTRAINT [Utilise_Materiel0_FK]
GO
ALTER TABLE [dbo].[utilise]  WITH CHECK ADD  CONSTRAINT [Utilise_Tache_FK] FOREIGN KEY([IDTache])
REFERENCES [dbo].[Tache] ([IDTache])
GO
ALTER TABLE [dbo].[utilise] CHECK CONSTRAINT [Utilise_Tache_FK]
GO
USE [master]
GO
